@use 'variables';
@use 'sass:color';

.cinema {
    display: flex;
    align-items: center;
    padding: 5.6vw;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        gap: 1.5rem;
        padding: 20px 2vw 0;

        img {
            max-width: 50%;
        }

        &__info {
            max-width: 50%;
            
            h3 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }

            &__button {
                background-color: variables.$submitButtonColor;
                color: variables.$textColorSubmit;
                width: 40%;
                height: 50px;
                text-transform: uppercase;
                letter-spacing: 1.76px;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                cursor: pointer;
                font-size: large;
                margin-bottom: 70px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: color.scale(variables.$submitButtonColor, $lightness: -30%);
                }
            }
        }
    }
}