.faq {
    padding: 5.6vw;
    
    .title {
        text-align: center;
    }

    &__questions {
        &__item {
            list-style: none;
            background-color: #13151d;
            margin-bottom: 16px;
            
            &__question {
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;


                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 48px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, linear .5s;

                ul {
                    list-style: disc;

                    li {
                        padding: 24px 0;
                    }
                }
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-'
                }

                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, linear .5s;
                }
            }
        }

    }
}