@use 'variables';

.footer {
    padding: 5.6vw;
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__accordion {
        @include variables.mobile {
            max-height: 50px;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
            margin-bottom: 16px;
            padding-bottom: 0;
        }
    
        h3 {
            @include variables.mobile {
                cursor: pointer;
                position: relative;
                margin-bottom: 0;
                padding-bottom: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 16px;
            }
        }
    
        &__icon {
            display: none !important;
    
            @include variables.mobile {
                display: inline-block !important;
                font-size: 14px;
                transition: transform 0.3s ease;
            }
        }

        &--is-open {
            @include variables.mobile {
                max-height: 500px;
                transition: max-height 0.5s ease-in;
            }
            .footer__accordion__icon {
                @include variables.mobile {
                    transform: rotate(90deg);
                }
            }
        }
        
        li:nth-child(2) {
            @include variables.mobile {
                margin-top: 16px;
            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-around;
        text-align: start;
        padding-left: 0;

        @include variables.mobile {
            border-bottom: 1px solid #333;
            &:first-child {
                display: block;
            }
        }

        h3 {
            margin-bottom: 16px;
        }

        &__column {
            list-style: none;
            padding-left: 0;

            @include variables.mobile {
                margin-bottom: 24px;
            }

            li {
                a {
                    color: variables.$textPrimary;
                    text-decoration: none;
                }
            }
        }
    }

    &__links {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 3rem;
        font-size: 24px;

        li {
            a {
                color: variables.$textPrimary;
            }
        }
    }

    &__logo {
        width: 120px;
        margin-bottom: 32px;
    }
}