@use 'variables';

.footer {
    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__info {
        display: flex;
        justify-content: space-around;
        text-align: start;
        padding-left: 0;

        h3 {
            margin-bottom: 16px;
        }

        &__column {
            list-style: none;
            padding-left: 0;

            li {
                a {
                    color: variables.$textPrimary;
                    text-decoration: none;
                }
            }
        }
    }

    &__links {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 3rem;
        font-size: 24px;

        li {
            a {
                color: variables.$textPrimary;
            }
        }
    }

    &__logo {
        width: 120px;
        margin-bottom: 32px;
    }
}