@use 'variables';

.header {
    &__container {
        position: absolute;
        padding: .5rem 2rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @include variables.mobile {
            padding: .5rem 1rem;
        }

        &__button {
            position: relative;
            z-index: 4;
            text-decoration: none;
            text-transform: uppercase;
            color: variables.$textSecondary;
            padding: .7rem 1rem;
            background-color: rgba(0, 0, 0, .8);
            border: 2px solid #67617b;
            border-radius: 4px;

            @include variables.mobile {
                padding: .5rem .7rem;
            }

            &:hover {
                color: rgba(0, 0, 0, .8);
                background-color: #fff;
                border-color: #fff;
            }
        }
    }
}