.hero--screens {
    padding: 5.6vw;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
        }
    }
}