@use 'variables';
@use "sass:color";

.hero {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    isolation: isolate;

    .carousel-indicators {
        z-index: 2;
        top: 55rem;
        margin-left: 0;
        
            button {
                position: relative;
                width: 100%;
                height: 2px;
                background-color: #fff;
                border: none;
                opacity: .3;
                transition: all 0.3s ease;
                margin: 1px;
                padding: 0;
                cursor: pointer;
        
                &::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    bottom: -10px;
                    left: 0;
                    right: 0;
                }
        
                &.active {
                    height: 3px;
                    border-radius: 5px;
                    opacity: .7;
                }
            }
        }

    &__background {
        position: absolute;
        height: 100%;
        inset: 0;
        z-index: 0;
    }

    &__content {
        position: absolute;
        inset: 0;
        z-index: 1;
        max-width: 920px;
        padding: 5.6vw;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
    
        pointer-events: none;
    
        >* {
            pointer-events: auto;
        }
        
        &__branding {
            margin: 0;
        }
        
        &__form {
            margin-top: 10px;
            margin-bottom: 1.5rem;
            display: flex;
            width: 90%;
            
            &__input {
                background-color: variables.$inputColor;
                width: 100%;
                height: 50px;
                padding: 0.8rem;
                border: 1px solid #2b2d37;
                color: color.scale(variables.$textPrimary, $lightness: 90%);
                font-size: 18px;
                border-radius: 4px 0 0 4px;
            }
            
            &__button {
                background-color: variables.$submitButtonColor;
                color: variables.$textColorSubmit;
                width: 65%;
                height: 50px;
                text-transform: uppercase;
                letter-spacing: 1.76px;
                border: none;
                border-radius: 0 4px 4px 0;
                font-size: 16px;
                cursor: pointer;
                font-size: large;
                
                span {
                    display: block;
                    padding: 0.8rem 2rem;
                }

                &:hover {
                    background-color: color.scale(variables.$submitButtonColor, $lightness: -30%);
                    transition: all 0.3s ease;
                }
            }
        }

        &__partners-logos {
            margin-top: 1rem;
            width: 100%;
        }
    }
}

.carousel__indicator__icon {
    &--link {
        background: none !important;
        opacity: 1 !important;
        filter: none !important;
        margin-right: 48px !important;

        i {
            font-size: 24px;
            color: #ffffff4d;
            transition: all ease .3s;
            animation: subirDescer 3s ease-in-out infinite;
        }

        &:hover i,
        &.active i {
            color: #fff;
        }
    }
    &--play {
        background: none !important;
        opacity: 1 !important;
        filter: none !important;
        padding-top: 24px;

        i {
            font-size: 24px;
            color: rgba(255, 255, 255, 0.3);
            transition: all ease .3s;
        }

        &:hover i,
        &.active i {
            color: #fff;
        }
    }
}


@keyframes subirDescer {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}