@use 'variables';
@use "sass:color";

.hero {
    position: relative;
    height: 100vh;

    @include variables.mobile {
        height: 90vh;
    }

    &__container {
        background-size: contain;
    }

    .carousel-indicators {
        z-index: 2;
        top: 90vh;
        margin-left: 0;

        @include variables.mobile {
                top: 20vh;
                transform: translateY(-50%);
                left: 95vw;
                margin-bottom: 0;
                flex-direction: column;
                width: auto;
            }
    
        button {
            position: relative;
            width: 100%;
            height: 2px;
            background-color: #fff;
            border: none;
            opacity: .3;
            transition: all 0.3s ease;
            margin: 1px;
            padding: 0;
            cursor: pointer;

            @include variables.mobile {
                width: 2px;
                height: 30px;
                margin: 4px 0;
            }
    
            &::before {
                content: "";
                position: absolute;
                top: -10px;
                bottom: -10px;
                left: 0;
                right: 0;

                @include variables.mobile {
                    left: -15px;
                    right: -15px;
                }
            }
    
            &.active {
                height: 3px;
                border-radius: 5px;
                opacity: .7;

                @include variables.mobile {
                    height: 30px;
                    width: 3px;
                }
            }
        }
    }

    &__background {
        position: absolute;
        height: 100%;
        inset: 0;
        z-index: 0;
    }

    &__content {
        position: absolute;
        inset: 0;
        z-index: 1;
        max-width: 920px;
        padding: 5.6vw;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;

        pointer-events: none;
        
        &>* {
            pointer-events: auto;
        }

        @include variables.mobile {
            padding: 2rem;
            align-items: center;
            text-align: center;
            max-width: 100%;
            padding-top: 100px;
        }
        
        &__branding {
            margin: 0;
            @include variables.mobile {
                max-width: 180px;
                margin: 0 auto;
            }
        
            img {
                @include variables.mobile {
                    height: 73px;
                }
            }
        }
        
        &__form {
            margin-top: 10px;
            margin-bottom: 1.5rem;
            display: flex;
            width: 90%;

            @include variables.mobile {
                width: 100%;
                flex-direction: column;
                gap: 10px;
            }
            
            &__input {
                background-color: variables.$inputColor;
                width: 100%;
                height: 50px;
                padding: 0.8rem;
                border: 1px solid #2b2d37;
                color: color.scale(variables.$textPrimary, $lightness: 90%);
                font-size: 18px;
                border-radius: 4px 0 0 4px;

                @include variables.mobile {
                    border-radius: 4px;
                }
            }
            
            &__button {
                background-color: variables.$submitButtonColor;
                color: variables.$textColorSubmit;
                width: 65%;
                height: 50px;
                text-transform: uppercase;
                letter-spacing: 1.76px;
                border: none;
                border-radius: 0 4px 4px 0;
                font-size: 16px;
                cursor: pointer;
                font-size: large;

                @include variables.mobile {
                    width: 100%;
                    border-radius: 4px;
                }
                
                span {
                    display: block;
                    padding: 0.8rem 2rem;
                }

                &:hover {
                    background-color: color.scale(variables.$submitButtonColor, $lightness: -30%);
                    transition: all 0.3s ease;
                }
            }
        }

        &__partners-logos {
            margin-top: 1rem;
            width: 100%;
        }
    }
}

.carousel__indicator__icon {
    &--link {
        background: none !important;
        opacity: 1 !important;
        filter: none !important;
        margin-right: 48px !important;

        @include variables.mobile {
            display: none !important;
        }

        i {
            font-size: 24px;
            color: #ffffff4d;
            transition: all ease .3s;
            animation: subirDescer 3s ease-in-out infinite;
        }

        &:hover i,
        &.active i {
            color: #fff;
        }
    }
    &--play {
        background: none !important;
        opacity: 1 !important;
        filter: none !important;
        padding-top: 24px;

        i {
            font-size: 24px;
            color: rgba(255, 255, 255, 0.3);
            transition: all ease .3s;
        }

        &:hover i,
        &.active i {
            color: #fff;
        }
    }
}


@keyframes subirDescer {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}