@use 'variables';

.ranking {

    &__content {
        animation: slideIn 0.8s ease-out;
        z-index: 2;

        &__title {
            text-align: center;
        }
    }

    &__carousel {
        display: flex;
        justify-content: flex-start;
        padding: 1.5rem 0;
        gap: 1rem;
        overflow-x: auto;
        overflow-y: visible;
        scroll-behavior: smooth;
        list-style: none;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &--wrapper {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        &::before {
            content: '';
            flex: 0 0 1.5rem;
        }

        &::after {
            content: '';
            flex: 0 0 5rem;
        }

        &__item {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 340px;
            transition: all ease 0.4s;
            cursor: pointer;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            border: 3px solid transparent;
            will-change: transform;

            @include variables.mobile {
                width: 40vw;
            }

            &:hover {
                transform: scale(1.05);
                padding: 4px;
                overflow: hidden;
                box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
                border-color: #fff;
            }

            &__card {
                flex: 1;
                width: 100%;
                object-fit: cover;
                border-radius: 4px;
            }

            &__info {
                background-color: #000;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 8px;

                img {
                    max-width: 80%;
                    max-height: 80px;
                    object-fit: contain;

                    @include variables.mobile {
                        max-height: 44px;
                    }
                }

                &__details {
                    display: flex;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    border-radius: 50px;

                    img {
                        min-width: 30px;
                        height: 16px;
                    }

                    @include variables.mobile {
                        margin: 0;
                        margin-top: 8px;
                    }
                }
            }
        }

        &__button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            background: transparent;
            border: none;
            height: 100%;
            cursor: pointer;
            transition: all 0.5s ease;
            z-index: 10;

            &:hover {
                opacity: 1;
                transform: translateY(-50%) scale(3);
                transition: transform 0.3s ease;
            }

            &:disabled {
                opacity: 0;
                cursor: default;
            }

            svg {
                width: 24px;
                height: 24px;
            }

            &.prev {
                position: absolute;
                left: 1%;
                top: 50%;
            }

            &.next {
                position: absolute;
                right: 2%;
                top: 50%;
            }
        }
    }
}