@use 'variables';
@use "sass:color";

.sport {
    background-image: url(../../dist/images/carousel-espn/banner.jpg);
    background-size: cover;
    background-position: top right;
    padding: 5.6vw;
    padding-bottom: 0;
    position: relative;

    @include variables.mobile {
        background-image: url(../../dist/images/carousel-espn/banner-sm.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    
    &__content {
        text-align: left;
        max-width: 800px;
        
        @include variables.mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 15vh;
        }

        p {
            margin-bottom: 24px;
        }

        &__branding {
            margin-bottom: 1rem;

            img {
                @include variables.mobile {
                    height: 88px;
                }
            }
        }

        &__button {
            background-color: variables.$submitButtonColor;
            color: variables.$textColorSubmit;
            width: 40%;
            height: 50px;
            text-transform: uppercase;
            letter-spacing: 1.76px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            font-size: large;
            margin-bottom: 70px;
            transition: all 0.3s ease;

            @include variables.mobile {
                max-width: 320px;
                width: 100%;
            }

            &:hover {
                background-color: color.scale(variables.$submitButtonColor, $lightness: -30%);
            }
        }
    }

    &__carousel {
        display: flex;
        gap: 1.5rem;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding: 20px 10px;
        margin: 0;
        list-style: none;
        scrollbar-width: none;
        -ms-overflow-style: none;

        @include variables.hide-scrollbar;

        li {
            flex: 0 0 auto;
        }

        &--wrapper {
            position: relative;
            max-width: 100%;
            overflow: hidden;
        }

        &__item {
            max-width: 300px;
            max-height: 180px;
            box-shadow: 0 4px 12px variables.$shadow;
            object-fit: cover;

            @include variables.mobile {
                width: 35vw;
            }
        }

        &__button {
            @include variables.carousel-button;
            height: 100px;
        }
    }
}