@use 'header';
@use 'hero';
@use 'sports';
@use 'ranking';
@use 'subscriptions';
@use 'cinema';
@use 'hero--screens';
@use 'faq';
@use 'footer';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$bgColor !important;
}

.text--big {
    @include variables.text(18px);
}

.text {
    @include variables.text;

    @include variables.mobile {
        @include variables.text(14px);
    }
}

.text--small {
    @include variables.text(12px);
}

.text--smaller {
    @include variables.text(11px);
}

.title--big {
    @include variables.title(44px);
}

.title {
    @include variables.title;

    @include variables.mobile {
        @include variables.title(32px);
    }
}

.title--small {
    @include variables.title(32px);
    font-weight: 600;

    @include variables.mobile {
        @include variables.title(24px);
    }
}

.title--smaller {
    @include variables.title(24px);
    color: variables.$textPrimary;
    margin-top: 0;
    font-weight: 600;

    @include variables.mobile {
        @include variables.title(16px);
        letter-spacing: 0;
    }
}

.title--smaller-white {
    @include variables.title(24px);
    font-weight: 600;

    @include variables.mobile {
        @include variables.title(16px);
        letter-spacing: 0;
    }
}


.link-text {
    @include variables.text(18px);
    color: variables.$textSecondary;
    text-decoration: underline;

    @include variables.mobile {
        @include variables.text(16px);
    }
}

.link-text--small {
    @include variables.text(14px);
    color: variables.$textSecondary;
    text-decoration: underline;
}

.link-button {
    @include variables.text(18px);
    color: variables.$inputColor;
    text-decoration: none;
}

.pre-wrap {
    white-space: pre-line;
}